body {
	margin: 0;
	background: #212121;
	font-family: Georgia, serif;
	font-weight: 1100;
}

.homepage-content {
    margin: 50px;
}

.homepage-content h1 {
    color: #FFFFFF;
	font-weight: 1500px;
	font-size: 100px;
	margin: 50px;
}

.homepage-content a {
    color: #FFFFFF;
    font-weight: 1500;
    margin-left: 80px;
    font-size: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}